<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <style>
      .fade-enter-active, .fade-leave-active {
        transition: opacity .5s
      }
      .fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
        opacity: 0
      }
    </style>
    <title>VueJS - Test</title>
  </head>
  <body>
    <div class="container mt-5">
      <div id="app">
        <p class="small text-muted inline">
          <mark>#app</mark>
          <span class="font-italic">
            (data-binding, rendering data)
          </span>
        </p>
        {{ message }}
      </div>
      <hr>
      <div id="app-2">
        <p class="small text-muted inline">
          <mark>#app-2</mark>
          <span class="font-italic">
            (event handling, conditionals, transitions)
          </span>
        </p>
        <!--
          v-bind is a directive, special vue attribute. bind means keep attribute
          value up to date with value on instance.

          Can't do this:
            <p title={{message}}></p>
        -->
        <p class="lead" v-bind:title="hoverText" v-bind:style="style">
          {{ message }}
        </p>
        <button class="btn btn-sm btn-outline-primary" v-on:click="changeColor">Change Color</button>
        <!-- 
          transition component will add, remove a bunch of classes
          In this case: fade-enter-active, fade-leave-active, fade-enter, fade-leave-to
          See CSS classes in <head>
         -->
        <transition name="fade">
          <span class="small text-muted" v-if="unchanged">
            Click the button to change color of the text.
          </p>
        </transition>
      </div>
      <hr>
      <div id="app-3">
        <!-- see what I did here? -->
        <descr v-bind:things="things"></descr>
        <div class="form-group form-inline">
          <!-- input1 must be defined in the data object, even if the value is null -->
          <input v-model="input1" type="text" class="form-control inline"
                 placeholder="type here…">&nbsp;
          <input type="text" readonly class="form-control" v-bind:value="input1">
        </div>
        <div class="btn-group" role="group">
          <!-- iterating over some values -->
          <button type="button" class="btn btn-secondary" v-for="item in items">
            {{item}}
          </button>
        </div>
      </div>
      <hr/>
      <div id="app-4">
        <!-- defining values inline -->
        <descr v-bind:things="['custom components', 'interpolation']"></descr>
        <my-list v-bind:items="fruits"></my-list>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
